[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchvision = "*"
keras = "*"
scipy = "*"
torch = "*"
tqdm = "*"
statsmodels = "*"
scikit-image = "*"
matplotlib = "*"
h5py = "*"
numpy = "*"
imgaug = "*"
ipython = "*"
scikit-learn = "*"
Shapely = "*"
tensorflow = "*"
tensorflow-gpu = "*"
pycocotools = "*"

[dev-packages]

[requires]
python_version = "3.9"
